<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                Welcome to the web site
            </p>
        </div>


    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to My First MVC API With MongoDB and Twitter API</h1>
            </hgroup>

        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">

        <div>
            <ul>
                <li>@Html.ActionLink("Users", "Index", "Users")</li>
                <li>@Html.ActionLink("Tweets", "Index", "Twitter")</li>
            </ul>
        </div>
    </section>
</div>
